.about-container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container-heading,
.about-container-subheading,
.about-container-subheading-red {
  text-align: center;
  font-weight: bold;
}

.about-container-heading {
  color: #4a0072;
  font-size: 24px;
}

.about-container-subheading {
  color: #6a1b9a;
  font-size: 20px;
}

.about-container-subheading-red {
  color: #d32f2f;
  font-size: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #6a1b9a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }
}
