.contact-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-heading {
  color: #4a0072;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  text-align: center;
}

.contact-email {
  color: #6a1b9a;
  text-decoration: none;
}

.contact-email:hover {
  color: #a562c9;
  text-decoration: underline;
}

.connect-div-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.connect-div-icons a {
  color: #6a1b9a;
  font-size: 44px;
  transition: color 0.3s ease;
}

.connect-div-icons a:hover {
  color: #a562c9;
}
