.login-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}

.login-heading {
  color: #4a0072;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.login-form input,
.login-form button {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.login-form input {
  background-color: #fff;
}

.login-form button {
  background-color: #6a1b9a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #a562c9;
}

.login-form input::placeholder {
  color: #aaa;
}
