.navbar {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.nav-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-links li {
  background-color: #6a1b9a;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li:hover {
  background-color: #a562c9;
}

.nav-links li .navbar-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-links li .navbar-link:hover {
  text-decoration: none;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: #6a1b9a;
  color: white;
  border: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  z-index: 102;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    transition: right 0.3s ease;
    z-index: 101;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-links li {
    padding: 20px;
    width: 100%;
    align-items: center;
  }
}
